<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Kai Richardson</h2>
      <h4>krichardson@bpcs.com</h4>
    </div>
    <img src="../../../../assets/Images/user-logo.png" alt="" />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
    >Pivot Summary</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/log_pivots"
    >Log Pivots</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/zctive_pivots"
    >Active Pivots</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/pivot_history"
    >Pivot History</a
  >

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
</mat-nav-list>
